.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

p {
    margin: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

#root {
    padding-top: 50px;
    padding-bottom: 50px;
}
