.telBookTitle {
    margin-bottom: 15px;
}

.contactsTitle {
    margin-top: 30px;
    margin-bottom: 15px;
}

// .loader {
//     text-align: center;
// }

.error {
    color: red;
    font-size: 20px;
    // text-align: center;
}
